@model MaterialExpense








    <div class="row justify-content-center">
        
        <div class="col-md-6">

            <div class="row">
                <div class=" col-md-12">
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success col-md-12" role="alert"><H6>@TempData["Success"] </H6></div>
                    }
                </div>
            </div>

            <h6> Enter Material Expense</h6>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@


                @*<div class="form-group">
                <label asp-for="Labour" class="control-label"></label>
                <select asp-for="LabourId" class="form-control" asp-items="@(new SelectList(@ViewBag.ListOfLabour,"Id","Name"))">
                    <option value="">-- Select labour --</option>
                </select>
                <span asp-validation-for="LabourId" class="text-danger" />
            </div>*@


                <div class="form-group row">
                    <label asp-for="Labour" class="control-label col-sm-3"></label>
                    <select asp-for="LabourId" class="form-control col-sm-8" asp-items="@ViewBag.LabourID">
                        <option value="">-- Select labour --</option>
                    </select>
                    <span asp-validation-for="LabourId" class="text-danger" />
                </div>



                @*<div class="form-group">
                <label asp-for="Site" class="control-label"></label>
                <select asp-for="SiteId" class="form-control" asp-items="@(new SelectList(@ViewBag.ListOfSite,"Id","Name"))">
                    <option value="">-- Select Site --</option>
                </select>
                <span asp-validation-for="SiteId" class="text-danger" />
            </div>*@


                <div class="form-group row">
                    <label asp-for="Site" class="control-label  col-sm-3"></label>
                    <select asp-for="SiteId" class="form-control  col-sm-8" asp-items="@ViewBag.SiteID">
                        <option value="">-- Select Site --</option>
                    </select>
                    <span asp-validation-for="SiteId" class="text-danger" />
                </div>



                <div class="form-group row">
                    <label asp-for="Date" class="control-label col-sm-3"></label>
                    <input asp-for="Date" class="form-control  col-sm-8" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>


                <div class="form-group row">
                    <label asp-for="Particular" class="control-label  col-sm-3"></label>
                    <input asp-for="Particular" class="form-control  col-sm-8" />
                    <span asp-validation-for="Particular" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <label asp-for="Description" class="control-label  col-sm-3"></label>
                    <input asp-for="Description" class="form-control  col-sm-8" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>


                <div class="form-group row">
                    <label asp-for="Amount" class="control-label  col-sm-3"></label>
                    <input asp-for="Amount" class="form-control  col-sm-8" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>

    </div>


<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>