@model Site

@{
    ViewData["Title"] = "View";
}

<h4>Site Details</h4>


<div class="row ">
    <div class="col-md-4 col-sm-4">
        <div class="card" style="width: 18rem;">
            @*<img src="~/Images/site details.jpg" class="card-img-top" alt="...">*@
            <div class="card-header">
                Site Details
            </div>

            <div class="card-body">
                <h5 class="card-title" style="margin:0em; padding:0em"> @Model.Name</h5>
                <p class="card-text " style="margin:0em; padding:0em"> @Model.Address</p>
                <p class="card-text" style="margin:0em; padding:0em"> @Model.Place</p>
                <p class="card-text" style="margin:0em; padding:0em"> @Model.Phone</p>
                <p class="card-text" style="margin:0em; padding:0em"> @Model.email</p>
                <a asp-controller="Home" asp-action="Index" class="btn btn-success btn-eq mt-2">Back</a>

            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-8">
        <div class="row">
            <div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6"">
                <table>
                    <tr> <td><h6>Material Expense</h6></td>
                        <td align="right"><h6>@String.Format("{0:##,##,##0.00}", @Model.MaterialExpenses.Sum(o => o.Amount))</h6></td>
                       
                    </tr>
                    <tr><td><h6>Labour Expense</h6></td>
                        <td align="right"><h6>@String.Format("{0:##,##,##0.00}", @Model.LabourExpenses.Sum(o => o.Wage))</h6></td>
                    </tr>
                    <tr>
                        <td><h5>Total</h5> </td>
                        <td align="right">
                            <h5> @String.Format("{0:##,##,##0.00}", @Model.MaterialExpenses.Sum(o => o.Amount) + @Model.LabourExpenses.Sum(o => o.Wage))</h5>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>



</div>








<div class="row">
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th>Date</th>
                <th>Employee Name</th>
                <th>Particular</th>
                <th>Description</th>
                <th>Amount</th>

            </tr>
        </thead>
        <tbody class="table-striped">
            @foreach (var mat in @Model.MaterialExpenses)
            {
            <tr>
                @*<td> @Convert.ToDateTime(@mat.Date).ToString("dd/MM/yyyy")</td>*@
                <td> @Html.DisplayFor(modelItem => mat.Date)</td>


                <td>@mat.Labour.Name</td>
                <td>@mat.Particular</td>
                <td>@mat.Description</td>
                <td>@String.Format("{0:##,##,##0.##}", @mat.Amount)</td>
            </tr>
            }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><h6>Total</h6></td>
            <td><h6>@String.Format("{0:##,##,##0.##}", @Model.MaterialExpenses.Sum(o => o.Amount))</h6></td>

        </tr>
        </tbody>
    </table>
</div>


<div class="row">
    <table class="table table-sm">
        <thead  class="thead-light">
            <tr>
                <th>Date</th>
                <th>Employee Name</th>
                <th>Designation</th>
                <th>Day</th>
                <th>Wage</th>

            </tr>
        </thead>
        <tbody class="table-striped">
            @foreach (var lab in @Model.LabourExpenses)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => lab.ExpDate)</td>
                    <td>@lab.Labour.Name</td>
                    <td>@lab.Labour.EmployeeCategory</td>
                    <td>@lab.Day</td>
                    <td>@String.Format("{0:##,##,##0.##}", lab.Wage)</td>
                </tr>
            }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><h6>Total</h6></td>
            <td><h6>@String.Format("{0:##,##,##0.##}", @Model.LabourExpenses.Sum(o => o.Wage))</h6></td>
        </tr>
        </tbody>
    </table>
</div>
        

<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
