@model IEnumerable<LabourReport>
@*@foreach (var l in @Model)
    {
        <p>@l.labour.Name</p>
        foreach (var m in @l.materialExpense)
        {
            <p>@m.Site.Name </p>
        }

    }*@

@{ var Mtot = 0.0;
    var LTot = 0.0;
    var tot = 0.0;
    <h6>Expense for Site :  @Model.First().materialExpense.First().Site.Name </h6>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Material Expense</th>
                <th>Labour Expense</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var Lab in @Model)
{
                <tr>
                    <td> @Lab.labour.Name </td>
                    <td>@Lab.materialExpense.Sum(o => o.Amount) </td>

                    <td>@Lab.labourExpense.Sum(o => o.Wage)</td>

                </tr>
                Mtot += @Lab.materialExpense.Sum(o => o.Amount);
                LTot += @Lab.labourExpense.Sum(o => o.Wage);
                tot = Mtot + LTot;
            }
            
            <tr><td></td> <td>@Mtot</td> <td>@LTot</td></tr>
           
            <tr><td>@tot</td></tr>
        </tbody>
    </table>

}



@*@model  IEnumerable<Labour>

    <table class="table">
        @foreach (var l in @Model)
        {
            <tr><td>@l.Name </td></tr>
            <tr><td>Material </td> <td>@l.MaterilaExpenses.Sum(o => o.Amount)</td></tr>
            <tr><td> Labour</td> <td>@l.LabourExpenses.Sum(o => o.Wage)</td></tr>

        }

    </table>*@